#message{
	@include border-radius(3px);
	//margin: 50px 0;
	padding: 100px 0;
	opacity: 0.5;
	background: {
		color: $DarkSlateGray;
	}
	p{
		color: $mint-cream;
		@include opacity(0.5);
		@include text-shadow(2px, 2px, 5px,$shadow );
		font: {
			size: 3em;
			family: $stack-ubuntu;
		}
		&:hover {
		@include opacity(1);
		@include transition( all 0.2s ease-in 0s);
		}
	}
}