//font stack
$stack-ubuntu : 'Ubuntu', sans-serif;
$stack-poiret-one : 'Poiret One', cursive;
$stack-roboto : 'Roboto', sans-serif;

//font weight
$font-bold: 700;
$font-regular: 400;

//colors
$skyblue : #2F4F4F;
$DarkSlateGray : #2F4F4F;
$mint-cream: #F5FFFA;
$floral-white: #FFFAF0;
$black: #000;
$gray-shade: #A0A0A0;
$shadow: rgba(0,0,0,0.3);



$border: 2px solid #777;