@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,700,300)");
@import url("https://fonts.googleapis.com/css?family=Poiret+One)");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,300italic)");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
.main-wrapper {
  background-color: #F5FFFA;
  z-index: 999; }

.site-header {
  position: relative;
  height: 640px;
  overflow: hidden;
  border: 2px solid #777;
  z-index: -200;
  background-image: url(../img/header-bg.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed; }
  @media (min-height: 480px) {
    .site-header {
      height: 460px; } }
  .site-header img {
    display: block;
    margin: 0 auto; }
  .site-header .header-body {
    position: fixed;
    z-index: -100; }
  .site-header h1 {
    color: #F5FFFA;
    margin-top: 200px;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    /* antialiased, none, subpixel-antialiased*/
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-smooth: always;
    font-size: 7em;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700; }
    @media (min-width: 320px) and (max-width: 479px) {
      .site-header h1 {
        font-size: 2em; } }
    @media (min-width: 480px) and (max-width: 767px) {
      .site-header h1 {
        font-size: 3em; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .site-header h1 {
        font-size: 4.5em; } }
    @media (min-width: 992px) {
      .site-header h1 {
        font-size: 6em; } }
  .site-header p {
    color: #000;
    margin-top: 10px;
    line-height: 50px;
    text-transform: uppercase;
    text-shadow: 1px 0px 1px #A0A0A0;
    font-size: 3em;
    font-family: "Roboto", sans-serif;
    font-weight: 700; }
    @media (min-width: 320px) and (max-width: 479px) {
      .site-header p {
        font-size: 0.9em;
        line-height: 20px; } }
    @media (min-width: 480px) and (max-width: 767px) {
      .site-header p {
        font-size: 1em;
        line-height: 20px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .site-header p {
        font-size: 1.2em; } }
    @media (min-width: 992px) {
      .site-header p {
        font-size: 2.2em; } }

.main-wrapper {
  padding-top: 100px;
  padding-bottom: 50px;
  z-index: 100;
  background-color: #F5FFFA opacity 0.5;
  background-image: url(../img/profile-bg.jpg);
  background-size: cover;
  background-attachment: fixed; }
  .main-wrapper img {
    margin: 0 auto;
    margin-bottom: 20px;
    filter: alpha(opacity=70);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    -webkit-opacity: 0.7;
    -khtml-opacity: 0.7;
    -moz-opacity: 0.7;
    -ms-opacity: 0.7;
    -o-opacity: 0.7;
    opacity: 0.7;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.2s ease-in 0s;
    -khtml-transition: all 0.2s ease-in 0s;
    -moz-transition: all 0.2s ease-in 0s;
    -ms-transition: all 0.2s ease-in 0s;
    -o-transition: all 0.2s ease-in 0s;
    transition: all 0.2s ease-in 0s; }
    .main-wrapper img:hover {
      -webkit-box-shadow: 1px 0px 5px #A0A0A0;
      -khtml-box-shadow: 1px 0px 5px #A0A0A0;
      -moz-box-shadow: 1px 0px 5px #A0A0A0;
      -ms-box-shadow: 1px 0px 5px #A0A0A0;
      -o-box-shadow: 1px 0px 5px #A0A0A0;
      box-shadow: 1px 0px 5px #A0A0A0;
      filter: alpha(opacity=100);
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      -webkit-opacity: 1;
      -khtml-opacity: 1;
      -moz-opacity: 1;
      -ms-opacity: 1;
      -o-opacity: 1;
      opacity: 1;
      -webkit-transition: all 0.2s ease-in 0s;
      -khtml-transition: all 0.2s ease-in 0s;
      -moz-transition: all 0.2s ease-in 0s;
      -ms-transition: all 0.2s ease-in 0s;
      -o-transition: all 0.2s ease-in 0s;
      transition: all 0.2s ease-in 0s; }
  .main-wrapper .profile-body {
    background: #F5FFFA;
    background: rgba(245, 255, 250, 0.2);
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
    width: 48%;
    height: 515px; }
    .main-wrapper .profile-body:hover {
      -webkit-box-shadow: 1px 0px 5px #A0A0A0;
      -khtml-box-shadow: 1px 0px 5px #A0A0A0;
      -moz-box-shadow: 1px 0px 5px #A0A0A0;
      -ms-box-shadow: 1px 0px 5px #A0A0A0;
      -o-box-shadow: 1px 0px 5px #A0A0A0;
      box-shadow: 1px 0px 5px #A0A0A0;
      background: #F5FFFA;
      background: rgba(245, 255, 250, 0.9);
      -webkit-transition: all 0.2s ease-in 0s;
      -khtml-transition: all 0.2s ease-in 0s;
      -moz-transition: all 0.2s ease-in 0s;
      -ms-transition: all 0.2s ease-in 0s;
      -o-transition: all 0.2s ease-in 0s;
      transition: all 0.2s ease-in 0s; }
    @media (min-width: 320px) and (max-width: 479px) {
      .main-wrapper .profile-body {
        text-align: center;
        width: 96%;
        margin: 0 2%; } }
    @media (min-width: 480px) and (max-width: 767px) {
      .main-wrapper .profile-body {
        text-align: center;
        width: 96%;
        margin: 0 2%; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .main-wrapper .profile-body {
        text-align: center;
        width: 96%;
        margin: 0 2%; } }
    .main-wrapper .profile-body h2 {
      font-size: 3em;
      font-family: "Ubuntu", sans-serif; }
      .main-wrapper .profile-body h2:first-child {
        margin-top: 10%; }
    .main-wrapper .profile-body p {
      margin-top: 20px;
      line-height: 1.5;
      font-size: 1.5em;
      font-family: "Roboto", sans-serif; }

#message {
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  width: 100%;
  margin: 50px 0;
  padding: 100px 0;
  background-color: #2F4F4F; }
  #message p {
    color: #F5FFFA;
    filter: alpha(opacity=50);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    -webkit-opacity: 0.5;
    -khtml-opacity: 0.5;
    -moz-opacity: 0.5;
    -ms-opacity: 0.5;
    -o-opacity: 0.5;
    opacity: 0.5;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    font-size: 3em;
    font-family: "Ubuntu", sans-serif; }
    #message p:hover {
      filter: alpha(opacity=100);
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      -webkit-opacity: 1;
      -khtml-opacity: 1;
      -moz-opacity: 1;
      -ms-opacity: 1;
      -o-opacity: 1;
      opacity: 1;
      -webkit-transition: all 0.2s ease-in 0s;
      -khtml-transition: all 0.2s ease-in 0s;
      -moz-transition: all 0.2s ease-in 0s;
      -ms-transition: all 0.2s ease-in 0s;
      -o-transition: all 0.2s ease-in 0s;
      transition: all 0.2s ease-in 0s; }

.site-footer {
  padding: 20px;
  background-image: url(../img/footer-bg.jpg); }
  .site-footer p {
    color: #2F4F4F;
    font-size: 20px;
    font-family: "Roboto", sans-serif; }
    .site-footer p a {
      color: #2F4F4F; }
      .site-footer p a:hover {
        text-decoration: none;
        color: #F5FFFA; }
  .site-footer ul {
    background-color: transparent; }
    .site-footer ul li {
      color: #2F4F4F;
      font-size: 15px;
      font-family: "Ubuntu", sans-serif; }

/*# sourceMappingURL=style.css.map */
